
<section id="nosotros" class="py-5 bg-light">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <h2 class="display-4 mb-4">Nuestra Historia</h2>
          <p class="lead">Nuestra tienda de ropa para caballeros nació de una pasión por la moda masculina y el deseo de ofrecer a los hombres opciones de vestuario elegantes y de alta calidad.</p>
          <p>Comenzamos como una pequeña boutique local en el corazón de la ciudad, con una selección cuidadosamente curada de prendas de vestir y accesorios para hombres. Con el tiempo, nuestra reputación creció y nos convertimos en un destino confiable para hombres que buscan estilo y sofisticación.</p>
          <p>Hoy en día, nuestra tienda en línea nos permite llegar a una audiencia más amplia, ofreciendo la misma atención al detalle y compromiso con la calidad que nos ha distinguido desde el principio.</p>
        </div>
        <div class="col-lg-6">
          <img src="assets/img/nosotros_img.jpg" class="img-fluid rounded-circle" alt="Imagen de nuestra historia">
        </div>
      </div>
      <div class="row mt-5">
        <div class="col">
          <h3 class="mb-3">Lo más interesante sobre nosotros</h3>
          <ul class="list-unstyled">
            <li class="mb-3"><i class="bi bi-check-circle text-success me-2"></i>Ofrecemos una amplia variedad de marcas y estilos para satisfacer todos los gustos y ocasiones.</li>
            <li class="mb-3"><i class="bi bi-check-circle text-success me-2"></i>Nuestro equipo de expertos en moda está siempre disponible para brindar asesoramiento personalizado y recomendaciones de estilo.</li>
            <li class="mb-3"><i class="bi bi-check-circle text-success me-2"></i>Valoramos la calidad y la artesanía, y solo trabajamos con marcas y diseñadores que comparten nuestra dedicación a la excelencia.</li>
            <li class="mb-3"><i class="bi bi-check-circle text-success me-2"></i>La satisfacción del cliente es nuestra máxima prioridad, y nos esforzamos por ofrecer una experiencia de compra excepcional en cada interacción.</li>
          </ul>
        </div>
      </div>
    </div>
  </section>
