.genre-selector-container {
  display: flex;
  justify-content: center;
  margin-top: 10px; 
  margin-bottom: 20px; 
}

.song-list {
    margin-top: 20px;
  }
  
  .list-group-item {
    margin-bottom: 10px;
  }
  