<h2 class="text-center">Categorías</h2>
<div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col">
    <a class="nav-link" [routerLink]="['lista-articulos']">
      <div class="card">
        <img src="assets/img/categoria1.jpg" class="card-img-top" alt="Categoría 1">
        <div class="card-body">
          <h5 class="card-title">Ropa Casual</h5>
          <p class="card-text">Descubre nuestra colección de ropa casual para caballeros. Estilos modernos y cómodos
            para cualquier ocasión.</p>
        </div>
      </div>
    </a>
  </div>
  <div class="col">
    <a class="nav-link" [routerLink]="['lista-articulos']">
      <div class="card">
        <img src="assets/img/categoria2.jpg" class="card-img-top" alt="Categoría 2">
        <div class="card-body">
          <h5 class="card-title">Trajes y Blazers</h5>
          <p class="card-text">Encuentra el traje perfecto para cualquier evento. Nuestra selección incluye una variedad
            de estilos y tallas para adaptarse a tus necesidades.</p>
        </div>
      </div>
    </a>
  </div>
  <div class="col">
    <a class="nav-link" [routerLink]="['lista-articulos']">
      <div class="card">
        <img src="assets/img/categoria3.jpg" class="card-img-top" alt="Categoría 3">
        <div class="card-body">
          <h5 class="card-title">Calzado</h5>
          <p class="card-text">Descubre nuestra colección de calzado para caballeros. Desde zapatos casuales hasta
            elegantes, tenemos lo que necesitas para completar tu look.</p>
        </div>
      </div>
    </a>
  </div>
  <div class="col">
    <a class="nav-link" [routerLink]="['lista-articulos']">
      <div class="card">
        <img src="assets/img/categoria4.jpg" class="card-img-top" alt="Categoría 4">
        <div class="card-body">
          <h5 class="card-title">Accesorios</h5>
          <p class="card-text">Explora nuestra variedad de accesorios para caballeros. Desde corbatas hasta relojes,
            encontrarás el complemento perfecto para tu estilo.</p>
        </div>
      </div>
    </a>
  </div>
  <div class="col">
    <a class="nav-link" [routerLink]="['lista-articulos']">
      <div class="card">
        <img src="assets/img/categoria5.jpg" class="card-img-top" alt="Categoría 5">
        <div class="card-body">
          <h5 class="card-title">Ropa Deportiva</h5>
          <p class="card-text">Equípate para tus entrenamientos con nuestra línea de ropa deportiva para caballeros.
            Diseñada para comodidad y rendimiento.</p>
        </div>
      </div>
    </a>
  </div>
  <div class="col">
    <a class="nav-link" [routerLink]="['lista-articulos']">
      <div class="card">
        <img src="assets/img/categoria6.jpg" class="card-img-top" alt="Categoría 6">
        <div class="card-body">
          <h5 class="card-title">Ropa Formal</h5>
          <p class="card-text">Encuentra trajes elegantes y sofisticados para eventos formales. Desde trajes clásicos
            hasta esmóquines, tenemos todo lo que necesitas para lucir impecable.</p>
        </div>
      </div>
    </a>
  </div>
</div>