<h2 class="text-center">Banners</h2>
<div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col">
    <div class="card h-100">
      <img src="assets/img/banner1.jpg" class="card-img-top" alt="Banner 1">
      <div class="card-body">
        <h5 class="card-title">Promoción de Temporada</h5>
        <p class="card-text">¡Descubre nuestra nueva colección de primavera! Encuentra los mejores estilos para esta temporada y aprovecha nuestros descuentos especiales.</p>
      </div>
      <div class="card-footer">
        <small class="text-body-secondary">Actualizado hace 3 minutos</small>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="assets/img/banner2.jpg" class="card-img-top" alt="Banner 2">
      <div class="card-body">
        <h5 class="card-title">Oferta Especial</h5>
        <p class="card-text">¡No te pierdas nuestra oferta especial de la semana! Encuentra increíbles descuentos en una amplia selección de productos para caballeros.</p>
      </div>
      <div class="card-footer">
        <small class="text-body-secondary">Actualizado hace 40 minutos</small>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="assets/img/banner3.jpg" class="card-img-top" alt="Banner 3">
      <div class="card-body">
        <h5 class="card-title">Nuevas Llegadas</h5>
        <p class="card-text">Descubre nuestras nuevas llegadas esta semana. Mantente a la vanguardia de la moda con los últimos estilos y tendencias para caballeros.</p>
      </div>
      <div class="card-footer">
        <small class="text-body-secondary">Actualizado hace 5 minutos</small>
      </div>
    </div>
  </div>
</div>
